.order .order__box {
    background: #FBFBFD;
    border-radius: 24px;
    padding: 40px 30px;
}

.order .order__box h3 {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    color: #000000;
    margin-bottom: 20px;
}

.order .order__box p {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.order .order__box .order__box-right {
    position: relative;
}

.order .order__box .order__box-right img {
    position: absolute;
    top: 58%;
    left: 0;
}

.order__show {
    background: #3E51F9;
    border-radius: 24px;
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.order__show h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.order__show h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29.0909px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 24px;
}

@media (max-width: 992px) {
    .order .order__box .order__box-right img{
        top: 93%;
    }
    
    .order__show{
        margin-top: 130px;
    }

    .order__show h2{
        font-size: 40px;
    }
}