.boxs h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    color: #000000;
    text-align: center;
    margin-bottom: 45px;
}

.boxs .boxs__card {
    border-radius: 27.284px;
    height: 100%;
    padding: 40px 30px;
    margin: 0 auto;
}

.boxs .boxs__card img {
    height: auto;
    margin: 0 auto;
}

.boxs .boxs__card .img-1 {
    width: 200px;
    height: auto;
}

.boxs .boxs__card .img-2 {
    width: 145px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 22px;
}

.boxs .boxs__card .img-3 {
    width: 180px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 38px;
}

.boxs .boxs__card h5 {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 24px;
}

.boxs .boxs__card p {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}

@media (max-width: 992px) {
    .boxs h3{
        max-width: 500px;
        margin: 0 auto 30px;
    }
    .boxs .boxs__card{
        width: 400px;
    }
}



@media (max-width: 576px) {
    .boxs .boxs__card{
        width: 335px;
    }
}