.hero {
    margin: 50px 0;
}

.hero .hero__box {
    background: #FBFBFD;
    border-radius: 24px;
    padding: 31px 30px 31px 50px;
}

.hero .hero__box h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    color: #000000;
    margin-bottom: 22px;
}

.hero .hero__box p {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 31.6577px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 41px;
}

.hero .hero__box button {
    background: linear-gradient(95.76deg, #643CF7 0%, #7639F5 25.43%, #3654FA 55.1%, #1288FC 82.72%, #0995FF 103.68%);
    border-radius: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21.888px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    padding: 4px 34px;
    border: none;
}

.hero .hero__box .hero__box-image {
    position: relative;
}

.hero .hero__box .hero__box-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ECECFA;
    top: 0;
    right: -15px;
    z-index: 1;
    border-radius: 50%;
}

.hero .hero__box .hero__box-image img {
    position: relative;
    z-index: 2;
    width: 500px;
    height: auto;
}

@media (max-width: 576px) {
    .hero .hero__box h3 {
        font-size: 48px;
        line-height: 59px;
    }

    .hero .hero__box p {
        font-size: 25.6577px;
        line-height: 40px;
    }
}