.contact {
    padding: 50px 0;
}

.contact .cotact__texts h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 68px;
    color: #000000;
    margin-bottom: 36px;
    width: 382px;
}

.contact .cotact__texts h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 37px;
    color: #000000;
    width: 326px;
    margin: 0;
    margin-bottom: 40px;
}

.contact .cotact__texts p {
    font-style: normal;
    font-weight: 600;
    font-size: 18.4545px;
    line-height: 25px;
    color: #000000;
}

.contact .cotact__texts p span {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #000000;
    margin-top: 8px;
}

.contact .contact__form {
    background: #FFFFFF;
    box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
    border-radius: 24px;
    padding: 37px 51px;
    margin-top: 50px;
}

.contact .contact__form h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 51px;
    color: #000000;
}

.contact .contact__form p {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
}

.contact .contact__form input {
    width: 100%;
    background: #F5F5F5;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    height: 54px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.contact .contact__form .contact__form-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}

.contact .contact__form .contact__form-flex button {
    background: linear-gradient(95.76deg, #643CF7 0%, #7639F5 25.43%, #3654FA 55.1%, #1288FC 82.72%, #0995FF 103.68%);
    border-radius: 15px;
    padding: 11px 80px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20.5882px;
    line-height: 27px;
    color: #FFFFFF;
    margin-right: 20px;
}

.contact .contact__form .contact__form-flex p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

@media (max-width: 992px) {
    .contact .cotact__texts {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact .contact__form {
        margin: 50px 100px 0 100px;
    }

    .contact .contact__form .contact__form-flex button {
        padding: 10px 0;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .contact .contact__form {
        padding: 35px 40px;
        margin: 50px 0 0 0;
    }
}

@media (max-width: 576px) {
    .contact .contact__form h4{
        line-height: 35px;
        margin-bottom: 20px;
    }
    .contact .contact__form .contact__form-flex button {
        font-size: 16px;
        width: auto;
        padding: 10px 5px;
    }
}