.description .description__box {
    background: #FBFBFD;
    border-radius: 24px;
    padding: 60px 30px 60px 60px;
}

.description .description__box h3 {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #1B1A19;
}

.description .description__box p {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
}