.header {
    width: 100%;
    height: 110px;
    padding: 25px 0 30px 0;
}

.header .header__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header .header__flex .logo img{
     width: 285px;
     height: auto;
}

.header .header__flex .header__flex-end {
    display: flex;
    flex-direction: row;
}

.header .header__flex .header__flex-end p{
    margin: 0 10px;
}

.header .header__flex .header__flex-end p a {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}